body {
    background-color: rgb(28, 27, 27);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#logo {
    margin-top: 10px;
    width: 75px;
}

#logoNav {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px grey solid;
    border-top: 1px grey solid;
    padding-right: 10%;
}

#footLink {
    text-decoration: none;
    color: white;
}

#homePageId {
    margin-left: 20%;
    margin-right: 20%;
}

#featureContainer {
    height: 150px;
    border: 1px grey solid;
    width: 47%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
    overflow: clip;
    text-wrap: wrap;
    
}

#spinningHome {
    background-color: black;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.featured {
    text-decoration: none;
    color: white;
    cursor: pointer;
    
    
    
    white-space: normal;
    overflow: clip;
}

#featuredExercises {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.dontOverflow {
    overflow: clip;
    word-wrap: break-word;
    white-space: normal;
}

#exerciseButtonMenu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 5px;
    background-color: rgb(28, 27, 27);
    gap: 3px;
    cursor: pointer;
}

.exerciseLink {
    text-decoration: none;
    color: white;
}

#mappedImage {
    width:150px;
}

#thisExerciseImage {
    width: 80%;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 10px;
}

#modal-content {
    background-color: rgb(28, 27, 27);
    border: 1px grey solid;
    border-radius: 10px;
    padding: 20px;
}

.update-delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.exerciseNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#exerciseShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

.hidden {
    display: none;
}

.notHidden {
    display: flex;
    padding: 10px;
}

.fileCreate {
    background-color: black;
    border: 1px solid grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    margin: 5px;
    cursor: pointer;
    box-shadow: 2px 2px darkgray;
}

.createReviewForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.centerMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.textArea {
    padding: 15px;
}

#filled {
    color: red;
}

#unfilled {
    color: white;
}

#favoriteButton {
    background-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
}

#searchBar {
    width: 66%;
}

#search {
    padding-top: 50px;
}

@keyframes around {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.weightPlate {
    animation-name: around;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 25000ms;
}

.smallFont {
    font-size:xx-small;
}

#review {
    border: 1px grey solid;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
    width: 40%;
    word-wrap:normal;
    overflow: clip;
    text-wrap: wrap;
    margin: 10px;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  background-color: black;
  padding: 20px;
  height: 200px;
}

#socialMedia {
    display: flex;
    justify-content: space-between;
}

#privacyPolicy {
    display: flex;
    justify-content: space-between;
    
}

.link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.bigHeader {
    margin-top: 100px;
    margin-bottom: 500px;
    font-size: large;
}

@media screen and (max-width: 800px) {
    
    #spinningHome {
        padding: 0;
        grid-template-columns: 1fr;
    }
    #homePageId {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer {
        flex-direction: column;
        align-items: center;
    }
    #exerciseShow {
        padding-left: 5%;
        padding-right: 5%;
    }

    #featuredExercises {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .featured {
        font-size: x-small;
    }

    #socialMedia {
        flex-direction: column;
        align-items: center;
    }

    #privacyPolicy {
        flex-direction: column;
        align-items: center;
    }

}
